<ion-view hide-nav-bar="true" onload="init()">
   </ion-content>
      <!-- <script src="js/main.js"></script>-->
       
</ion-content>
    <ion-content class="splash padding">
       <div class="branding">
          
           
           <div class="tagline">DODOCHE VERTE</div>
           <p>Challenge the most important !</p><a href="#/tab/locate" class="button button-balanced">Lancer un défi !</a>
<!--           <img class="logo2cv" src="img/logo2cv.png" alt="logo">-->
                </div>
           
           
    <div id="ball"></div>
   

       </div>
        
    </ion-content>
</ion-view>
