<div class="vue">
   <ion-view view-title="locate">
    <ion-content>
        <ion-pane>
            <ion-content ng-controller="MapController">
                <div id="map" data-table-disabled="true"></div>
                
                <div class="button">
                <button class="button button-medium button-balanced icon ion-camera" ng-click="takePicture()"></button>
                </div> 
                
                 
            </ion-content>
            
        </ion-pane>     
</ion-content>
       <script src="js/app.js"></script>
       
</ion-content>
  
   
   
    </ion-content>
</ion-view>
</div>