<ion-tabs class="tabs-icon-top tabs-balanced">
   
    <ion-tab title="Defy" icon="ion-trophy" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>


   <!--<ion-tab title="person" icon="ion-ios-people" href="#/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>-->
    
    <ion-tab title="Friends" icon="ion-ios-people" href="#/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>
    
    
    <ion-tab title="Locate" icon="ion-android-pin" href="#/tab/locate">
        <ion-nav-view name="locate-tab"></ion-nav-view>
    </ion-tab>
    
     <!--<ion-tab title="Success" icon="ion-android-pin" href="#/tab/success">
        <ion-nav-view name="success-tab"></ion-nav-view>
    </ion-tab>
    
    
    <ion-tab title="photo" icon="ion-android-pin" href="#/tab/photo">
        <ion-nav-view name="photo-tab"></ion-nav-view>
    </ion-tab>-->

   <!--<ion-tab title="Calendar" icon="ion-calendar" href="#/tab/calendar">
        <ion-nav-view name="calendar-tab"></ion-nav-view>
    </ion-tab>-->

</ion-tabs>